.App {
  text-align: center;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 40px; /* height of footer */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 200px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.body {
  /* height: 170px; */
  height: 100%;
  position: relative;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
  background: tomato;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Height of the footer */
}

/* mouse over link */
.nav-link:hover, .nav-link:active {
  color: cyan !important;
  opacity: 0.5 !important;
}
